
# roles/master_nodes/templates/slurmctld.service.j2
[Unit]
Description=Slurm controller daemon
After=network-online.target munge.service
{% if slurm_db_enabled %}
After=slurmdbd.service
Wants=slurmdbd.service
{% endif %}
Wants=network-online.target
Wants=munge.service
ConditionPathExists={{ slurm_config_dir }}/slurm.conf

[Service]
Type=simple
ExecStart=/usr/sbin/slurmctld -D
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
TasksMax=infinity

# Restart settings
Restart=on-failure
RestartSec=5s
StartLimitInterval=0

# Security settings
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target