# roles/openmpi/tasks/main.yml - OpenMPI installation with PMIx integration
---
- name: Check if OpenMPI is already installed
  stat:
    path: "{{ openmpi_prefix }}/bin/mpirun"
  register: openmpi_installed

- name: Skip OpenMPI build if already installed
  debug:
    msg: "OpenMPI already installed at {{ openmpi_prefix }}"
  when: openmpi_installed.stat.exists and not openmpi_force_rebuild

- name: Install OpenMPI build dependencies
  package:
    name:
      - build-essential
      - gfortran
      - libhwloc-dev
      - libevent-dev
      - zlib1g-dev
    state: present
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Create OpenMPI build directory
  file:
    path: "{{ openmpi_build_dir }}"
    state: directory
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Download OpenMPI source
  get_url:
    url: "https://download.open-mpi.org/release/open-mpi/v5.0/openmpi-{{ openmpi_version }}.tar.gz"
    dest: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}.tar.gz"
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Extract OpenMPI source
  unarchive:
    src: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}.tar.gz"
    dest: "{{ openmpi_build_dir }}"
    remote_src: yes
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Configure OpenMPI with PMIx
  shell: |
    export PKG_CONFIG_PATH={{ pmix_prefix }}/lib/pkgconfig:$PKG_CONFIG_PATH
    export LD_LIBRARY_PATH={{ pmix_prefix }}/lib:$LD_LIBRARY_PATH
    ./configure --prefix={{ openmpi_prefix }} \
      --with-pmix={{ pmix_prefix }} \
      --with-hwloc \
      --enable-mpi-fortran \
      --enable-shared \
      --disable-static
  args:
    chdir: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}"
    creates: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}/Makefile"
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Build OpenMPI
  shell: |
    export LD_LIBRARY_PATH={{ pmix_prefix }}/lib:$LD_LIBRARY_PATH
    make -j$(nproc)
  args:
    chdir: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}"
  register: openmpi_build
  failed_when: openmpi_build.rc != 0
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Install OpenMPI
  shell: "make install"
  args:
    chdir: "{{ openmpi_build_dir }}/openmpi-{{ openmpi_version }}"
  register: openmpi_install
  failed_when: openmpi_install.rc != 0
  when: not openmpi_installed.stat.exists or openmpi_force_rebuild

- name: Add OpenMPI to library path
  lineinfile:
    path: /etc/ld.so.conf.d/openmpi.conf
    line: "{{ openmpi_prefix }}/lib"
    create: yes
  notify: update ldconfig

- name: Add OpenMPI to PATH
  lineinfile:
    path: /etc/environment
    regexp: '^PATH='
    line: 'PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:{{ pmix_prefix }}/bin:{{ openmpi_prefix }}/bin"'
    backup: yes

- name: Cleanup build directory
  file:
    path: "{{ openmpi_build_dir }}"
    state: absent