[mysqld]
# КРИТИЧНО для Open XDMoD
sql_mode = ''
max_allowed_packet = 1G
group_concat_max_len = 16M

# Производительность
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M
innodb_stats_on_metadata = off
innodb_file_per_table = On

# Логирование
log-error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# Сеть
bind-address = 127.0.0.1

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
