# playbooks/site.yml - Main cluster deployment playbook
---
- name: "Deploy Slurm HPC cluster"
  hosts: localhost
  gather_facts: false
  tasks:
    - name: "Display deployment info"
      debug:
        msg: |
          Deploying Slurm HPC cluster
          Master nodes: {{ groups['master_nodes'] | join(', ') }}
          Login nodes:  {{ groups['login_nodes'] | join(', ') }}
          Compute nodes: {{ groups['compute_nodes'] | join(', ') }}

- name: "Base system preparation"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - common

- name: "Install PMIx on all nodes"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - pmix

- name: "Install OpenMPI on compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - openmpi

- name: "Build and distribute Slurm"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - slurm_build

- name: "Configure master nodes"
  hosts: master_nodes
  become: true
  gather_facts: true
  roles:
    - slurm_master

- name: "Configure compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - slurm_compute

- name: "Configure login nodes"
  hosts: login_nodes
  become: true
  gather_facts: true
  roles:
    - slurm_login
    - slurm_web

- name: "Disable AppArmor on compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - grub_apparmor

- name: "Install Enroot container runtime"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - nvidia.enroot

- name: "Install Pyxis container integration"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - pyxis

- name: "Restart Slurm services"
  hosts: slurm_cluster
  become: true
  tasks:
    - name: "Restart slurmd service"
      systemd:
        name: slurmd
        state: restarted
        daemon_reload: yes
      when: inventory_hostname in groups['compute_nodes']

    - name: "Restart slurmctld service"
      systemd:
        name: slurmctld
        state: restarted
        daemon_reload: yes
      when: inventory_hostname in groups['master_nodes']

- name: "Resume compute nodes"
  hosts: master_nodes
  become: true
  tasks:
    - name: "Wait for slurmd to be ready on compute nodes"
      wait_for:
        port: 6818
        host: "{{ item }}"
        timeout: 60
      loop: "{{ groups['compute_nodes'] }}"
      ignore_errors: yes

    - name: "Check node states"
      shell: scontrol show node {{ item }} | grep -o 'State=[A-Z]*'
      loop: "{{ groups['compute_nodes'] }}"
      register: node_states
      changed_when: false
      failed_when: false

    - name: "Resume nodes that need it"
      command: scontrol update NodeName={{ item.item }} State=RESUME
      loop: "{{ node_states.results }}"
      when: 
        - item.rc == 0
        - "'State=DRAIN' in item.stdout or 'State=DOWN' in item.stdout or 'State=UNKNOWN' in item.stdout"
      ignore_errors: yes