# playbooks/site.yml - Main cluster deployment playbook
---
- name: "Deploy Slurm HPC cluster"
  hosts: localhost
  gather_facts: false
  tasks:
    - name: "Display deployment info"
      debug:
        msg: |
          Deploying Slurm HPC cluster
          Master nodes: {{ groups['master_nodes'] | join(', ') }}
          Login nodes:  {{ groups['login_nodes'] | join(', ') }}
          Compute nodes: {{ groups['compute_nodes'] | join(', ') }}

- name: "Base system preparation"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - common

- name: "Install PMIx on all nodes"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - pmix

- name: "Install OpenMPI on compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - openmpi

- name: "Build and distribute Slurm"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - slurm_build

- name: "Configure master nodes"
  hosts: master_nodes
  become: true
  gather_facts: true
  roles:
    - master_nodes

- name: "Configure compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - compute_nodes

- name: "Configure login nodes"
  hosts: login_nodes
  become: true
  gather_facts: true
  roles:
    - login_nodes

- name: "Disable AppArmor on compute nodes"
  hosts: compute_nodes
  become: true
  gather_facts: true
  roles:
    - grub_apparmor

- name: "Install Enroot container runtime"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - nvidia.enroot

- name: "Install Pyxis container integration"
  hosts: slurm_cluster
  become: true
  gather_facts: true
  roles:
    - pyxis

- name: "Restart Slurm services"
  hosts: slurm_cluster
  become: true
  tasks:
    - name: "Restart slurmd service"
      systemd:
        name: slurmd
        state: restarted
        daemon_reload: yes
      when: inventory_hostname in groups['compute_nodes']

    - name: "Restart slurmctld service"
      systemd:
        name: slurmctld
        state: restarted
        daemon_reload: yes
      when: inventory_hostname in groups['master_nodes']

- name: "Resume compute nodes"
  hosts: master_nodes
  become: true
  tasks:
    - name: "Wait for slurmd to be ready on compute nodes"
      wait_for:
        port: 6818
        host: "{{ item }}"
        timeout: 60
      loop: "{{ groups['compute_nodes'] }}"
      ignore_errors: yes

    - name: "Resume all compute nodes"
      shell: scontrol update NodeName={{ item }} State=RESUME
      loop: "{{ groups['compute_nodes'] }}"
      ignore_errors: yes