[Unit]
Description=Prometheus Node Exporter
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ node_exporter_image }}
ExecStart=/usr/bin/docker run --rm --network host --cpus=0.5 --pid=host --name %n \
  -v /:/host:ro,rslave \
  -v /opt/node-exporter/textfile_collector:/textfile_collector \
  {{ node_exporter_image }} \
  --path.rootfs=/host \
  --collector.textfile.directory=/textfile_collector

[Install]
WantedBy=multi-user.target