[Unit]
Description=VictoriaMetrics
After=network.target

[Service]
Type=simple
User=victoriametrics
PIDFile=/run/victoriametrics/victoriametrics.pid
ExecStart=/usr/local/bin/victoria-metrics-prod \
    -storageDataPath={{ victoriametrics_data_path | default('/var/lib/victoriametrics') }} \
    -retentionPeriod={{ victoriametrics_retention_period | default('12') }} \
    -httpListenAddr={{ ansible_default_ipv4.address }}:{{ victoriametrics_port | default('8428') }} \
    -memory.allowedPercent={{ victoriametrics_memory_percent | default('60') }}
ExecStop=/bin/kill -s SIGTERM $MAINPID
StartLimitBurst=5
StartLimitInterval=0
Restart=on-failure
RestartSec={{ victoriametrics_restart_sec | default('1') }}

[Install]
WantedBy=multi-user.target