# roles/slurm_compute/templates/slurmd.service.j2
[Unit]
Description=Slurm node daemon
After=network-online.target munge.service
Wants=network-online.target
Wants=munge.service
ConditionPathExists={{ slurm_config_dir }}/slurm.conf

[Service]
Type=simple
ExecStart=/usr/sbin/slurmd -D
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
TasksMax=infinity

# Restart settings
Restart=on-failure
RestartSec=5s
StartLimitInterval=0

# Security settings
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target